{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}


<main>
	{% for article in articles %}
		<div class="card_mb-3" style="max-width: 940px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="https://lecrabeinfo.net/app/uploads/2021/12/reduire-lutilisation-du-processeur-cpu-dans-windows-61c30d96a8dd3.png" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{article.title}}</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="{{path('article_show', { slug: article.slug}) }}" class="btn btn-dark">Go</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}	
		</main>
		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2017–2020 Company Name</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#">Privacy</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Terms</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Support</a>
				</li>
			</ul>
		</footer>
	</div>

{% endblock %}

