{% extends 'base.html.twig' %}

{% block body %}
 <div class="article" style="margin:80px">
    <h5 class="card-title">Card title</h5>
    <img src="https://via.placeholder.com/350" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>	
{% endblock %}