{% extends 'base.html.twig' %}

{% block body %}
 <div class="article">
    <h5 class="card-title-show"><b>card</b></h5>
    <img src="https://lecrabeinfo.net/app/uploads/2021/11/ouvrir-et-utiliser-le-terminal-windows-sur-windows-11-10-61a97db049493.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"></p>
        </div>
</div>	
{% endblock %}