
.card_mb-3{
margin-top: 40px;
margin-left: auto;
margin-right: auto;
}
.article{
margin-top: 40px;
}
.show_category{
margin-top: 40px;
}
.card-title-show{
font-size: 40px;
text-align: center;
margin-bottom: 40px;
}
.metadata{
text-align: center;
}
.card-img-top{
margin-top: 40px;
max-width: 90%;
}
.category-subtitle{
color: #adadad;
}
.comment{
    text-align: center;
}